.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    border: 1px solid rgb(122, 120, 120);
    border-radius: 1rem;
    margin: .5rem;
    padding: 0;
    list-style-type: none;
    justify-content: space-evenly;

}
ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
}
.container ul li a{
    font-size: 1.3rem;
    font-weight: 500;
}
.rupee{
    color: green;
    font-weight: 500;
}

ul li:last-child{
    border: none;
}

ul li img{
    height: 7rem;
    width: 7rem;
    border: 2px solid rgb(249, 3, 196);
    border-radius: 20rem;
    object-fit: cover;
}

ul li div{
    padding: 1rem;
}

ul li div:not(:first-child){
    flex-basis: 18%;
}

ul li select{
    width: 4rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(249, 3, 196);
    font-weight: 200;
}

ul .remove-button{
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: .5rem;
    opacity: .8;
    background-color: rgb(226, 252, 134);
    color: rgb(250, 0, 0);
    font-weight: 600;
}

ul .remove-button:hover{
    opacity: 1;
    background-color: rgb(249, 249, 36);
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:1 3;
    height: 17rem;
    border: 1px solid rgb(122, 120, 120);
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;

}

.checkout > div{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    font-size: 1.4rem;
}

.checkout .food-count{
    margin-bottom: 1rem;
    font-weight: 500;
}

.checkout .total-price{
    font-weight: 500;
}
.checkout .food-count::before{
    content: "Total Product: ";
    color: green;
}

.checkout .total-price::before{
    content: "Total Price: ";
    color: green;
}

.checkout a{
    padding: 1rem;
    color:white;
    background-color: #e72929;
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    opacity: .8;
    justify-content: center;
}

.checkout a:hover{
    opacity: 1;
    cursor: pointer;
}